@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.employeesView {
  @apply flex flex-wrap justify-evenly ; 
}

.employeeCard {
  @apply flex-none basis-1/4 min-w-fit  border-black border-2 bg-gray-300 text-black p-5 m-5 shadow-slate-700 shadow-lg;
  border-radius: 5px;
}
.employeeName{
  @apply font-bold text-lg my-auto ml-5;
}

.entry {
  @apply grid grid-cols-3 gap-4 text-left my-5;
}

.entry .tag{
  @apply col-span-1 text-right ;
}
.entry .value, .employeeName{
  @apply col-span-2 font-bold;
}
.entry .value span{
  @apply text-gray-600 mr-2;
}
.actions {
  @apply flex justify-end mt-3;
}
.editBtn {
  @apply p-1 rounded;
}
.dangerBtn {
  @apply p-1 font-bold text-lg mx-2;
}

.blur-background {
  filter: blur(5px);
}
.alertBox{
  @apply z-10  fixed  text-white  bg-teal-950 top-5 right-5 ;
}
/*employee edit po styles*/
.employeeEdit {
  @apply z-10 bg-white text-black border-2 border-black fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  border-radius: 5px;
}
.entryEdit{
 @apply grid grid-cols-3  text-left my-2 mx-5;

}
.entryEdit label{
  @apply col-span-1;
}
.entryEdit input{
  @apply col-span-2;
  color: white;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.employeeEdit .title h6{
  @apply text-lg font-extrabold
}
.saveBtn{
  @apply flex flex-row  m-3;

}
.saveBtn button{
  
@apply px-5 py-2 rounded
}
.editHeader{
  @apply flex flex-row justify-between
}
.editHeader .title{
  @apply my-5 ml-5
}

.error{
  color:red
}
 /* z-index:10;
  background-color: white;
  color: #000;

  padding: 10px;

  border-color: black;
  border-width: 5px;
  border-style: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */

  
